
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);

    --spacing-500: 2.5rem;
    --spacing-400: 2rem;
    --spacing-300: 1.5rem;
    --spacing-200: 1rem;
    --spacing-100: .5rem;

}

.text-preset-1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0.25px;
    font-style: normal;
}

.text-preset-2 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0.25px;
    font-style: normal;
}

.text-preset-3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 135%;
    letter-spacing: 0;
    font-style: normal;
}

.text-preset-4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 140%;
    letter-spacing: 0; 
    font-style: normal;
}

.text-preset-5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 160%;
    letter-spacing: 0; 
    font-style: normal;
}

.text--grey-500 {
    color: var(--grey-500);
}

.text--grey-400 {
    color: var(--grey-400);
}

.text--center {
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.title-box {
    gap: var(--spacing-200);
    margin: 3.5rem auto;

    
}

.card {
    box-shadow: 0px 15px 30px -11px rgb(131 166 210 / 50%);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 15.6rem;
    padding: 2rem;
    gap: 2rem;

    max-width: 19.6rem;

}

.card__img-box {
    display: flex;
    justify-content: end;
}

.card--cyan {
    border-top: 4px solid var(--cyan);
}

.card--red {
    border-top: 4px solid var(--red);
}

.card--yellow {
    border-top: 4px solid var(--orange);
}

.card--blue {
    border-top: 4px solid var(--blue);
}

.cards-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.attribution {
    margin: 1.5rem 0;
}

.attribution a {
    color: var(--grey-500);
}

.attribution a:hover {
    text-decoration: none;
}

@media (min-width: 700px) {
    

    .text-preset-1 {
        font-size: 2.25rem;
    }

    .text-preset-2 {
        font-size: 2.25rem;
    }

    .cards-box {
        display: grid;
        grid-template: repeat(3, 250px) /  1fr 1fr 1fr 1fr;
        justify-items: center;
    }

    .card--red {
        grid-column: 2 / span 2;
    }

    .card--cyan {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .card--yellow {
        grid-column: 3 / span 2;
    }

    .card--blue {
        grid-column: 2 / span 2;
        grid-row: 3;
    }
}

@media (min-width: 1029px) {

    .cards-box {
        grid-template: 1fr 1fr 1fr 1fr / 1fr 23.6rem 1fr;
        column-gap: 0;
    }

    .card--red {
        grid-column: 2;
        grid-row: 1 / span 2;
    }

    .card--cyan {
        grid-column: 1;
        grid-row: 2 / span 2;
        margin-left: auto;
    }

    .card--yellow {
        grid-column: 2;
        grid-row: 3 / span 2;
    }

    .card--blue {
        grid-column: 3;
        grid-row: 2 / span 2;
        margin-right: auto;
    }
    
}